.button{
    -fx-background-color: black;
    -fx-font-size: 24 arial;
    -fx-text-fill: white;
}
.label{
    -fx-text-fill: white;
    -fx-font-size: 24 arial;
}

.labelFinal{
    -fx-text-fill: white;
}